**U S market web scrapping**

In [ ]:
import requests
import bs4
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
url = 'https://money.cnn.com/data/us_markets/'

In [ ]:
response=requests.get(url)

In [ ]:
soup=bs4.BeautifulSoup(response.content,'html')

In [ ]:
div=soup.find('div',attrs={'id':'wsod_marketMoversContainer'})

In [ ]:
stocks= {
    'Gainers_&_Losers': [],
    'Price': [],
    'Change': [],
    '%_Change' : []
    }

In [ ]:
all_tr=div.find_all('td',attrs={'class':'wsod_firstCol'})

for name in all_tr:
  stocks['Gainers_&_Losers'].append(name.text)

all_td=div.find_all('td',attrs={'class':'wsod_aRight'})

for i in range(0,len(all_td),3):
  stocks['Price'].append(float(all_td[i].text))
  stocks['Change'].append(float(all_td[i+1].text))
  stocks['%_Change'].append(all_td[i+2].text)

In [ ]:
f = pd.DataFrame.from_dict(stocks, orient='index')
df = f.transpose()

In [ ]:
df

            Gainers_&_Losers   Price Change %_Change
0             EFXEquifax Inc  163.55   9.03   +5.84%
1   FISFidelity National ...  156.16    8.2   +5.54%
2       IRMIron Mountain Inc   33.21   1.42   +4.47%
3    LHLaboratory Corpora...  194.94   7.43   +3.96%
4  AMATApplied Materials ...   67.68    2.3   +3.53%
5             NTAPNetApp Inc   54.81  -6.01   -9.88%
6         CTLCenturylink Inc   13.79  -1.37   -9.04%
7          KHCKraft Heinz Co   27.84   -2.2   -7.32%
8   HIIHuntington Ingalls...  250.62 -19.46   -7.21%
9  ZBRAZebra Technologies...  234.44 -17.55   -6.96%

**Rediff Top Gainers**

In [ ]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

url = "https://money.rediff.com/gainers/bse/daily/groupa?src=gain_lose"
page = urlopen(url)
html = page.read().decode("utf-8")
soup = BeautifulSoup(html, "html.parser")

In [ ]:
count = 0
a=[]
b = []
for tr in soup.findAll('tbody')[0].findAll('tr'):
    count+=1
    for tr in soup.findAll('tr')[count].findAll('td'):
      a.append(tr.text)

In [ ]:
b = []
for i in range(0,len(a),5):
  b.append(a[i:i+5])
#print(b)

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(b, columns =['Company','Group','Prev Close (Rs)','Current Price (Rs)','% Changer']) 
df = df.replace('\n',' ', regex=True)
df = df.replace('\t',' ', regex=True)

In [ ]:
df

                                Company Group  ... Current Price (Rs) % Changer
0               Reliance Ind.Inf            A  ...             728.55  +   9.99
1                  Jai Corp Ltd.            A  ...             147.85  +   9.19
2                          Sobha            A  ...             834.25  +   8.56
3               Caplin Point Lab            A  ...             803.20  +   8.53
4            IndiaMART InterMESH            A  ...           8,813.45  +   8.27
..                                  ...   ...  ...                ...       ...
382              Hawkins Cookers            A  ...           6,227.05  +   0.04
383             Panacea Biotec L            A  ...             295.60  +   0.03
384                    ICRA Ltd.            A  ...           3,571.35  +   0.02
385                        Emami            A  ...             605.55  +   0.02
386         Navin Fluorine Inter            A  ...           4,094.20  +   0.01

[387 rows x 5 columns]